.boutiquePage a {
    color: black;
    text-decoration: none;
}


/*Menu secondaire */

.navbarperso {
    text-align: center;
    padding: 1% 5% 1% 1%;
    background-color: rgb(0, 0, 0) (241, 115, 92, 0.274);
}

.navbarperso a {
    font-size: 1.1rem;
    font-weight: 300;
    border-bottom: 1px solid black;
}


/*LA BANNIERRE */

.boutiqueBaniere {
    padding: 2rem;
    background: url("../images/banniere1.png") center no-repeat;
    background-size: cover;
}

.boutiqueBaniere h1 {
    color: white;
    font-size: 3.8rem;
    font-weight: 900;
}

.boutiqueBaniere span {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.boutiqueBaniere p {
    color: white;
    padding: 0.2rem;
}

.boutiqueBaniere a {
    color: white;
}

.tableau {
    margin-left: 10px;
}


/* APAREEEEEEEEEEEEEIIL */


/*Catergorie d'article */

.emplacementappareilphoto {
    position: relative;
    top: -800px;
    margin-left: 150px;
}

.emplacementappareilphoto2 {
    position: relative;
    top: -1000px;
    margin-left: 150px;
}

.emplacementappareilphoto3 {
    position: relative;
    top: -1200px;
    margin-left: 150px;
}

.sliderarticle {
    max-width: 85%;
    margin: auto;
    margin-top: 0rem;
}

.divproduit {
    margin: auto;
    margin-bottom: 20rem;
    text-align: center;
    max-width: 20%;
    min-width: 20rem;
    border-bottom: 1px solid black;
}

.imgproduit {
    width: 60;
    max-width: 12rem;
    margin-bottom: 1rem;
}

.titreproduit {
    font-size: 1.5rem;
}

.stockBoutique {
    color: rgb(33, 189, 33);
}

.prixBoutique {
    font-size: 1.1rem;
    font-weight: 600;
}

.TitreSection {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
}


/*En tendance */

.sectiontendances {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.imgtendance {
    max-width: 100%;
    min-width: 15rem;
}

.GROSproduit {
    text-align: left;
    margin: 0.1rem 0 0 0.7rem;
    font-size: 1rem;
}


/* Le meilleur de Kalishop */

.sectionmeilleur {
    text-align: center;
}

.DivPrinc {
    display: flex;
    justify-content: center;
    margin: auto;
}

.imgSolo {
    max-width: 47em;
}

.imgMultiple {
    max-width: 22em;
    margin: 0rem 0 3rem 0
}

.meilleur_colone {
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 0 5rem;
}

.meillSolo {
    position: relative;
}

.imgMultiple:hover,
.imgSolo:hover,
.divproduit:hover,
.navbarperso a:hover {
    transform: scale(1.02);
    transition: transform 0.25s;
}


/*Overlay Images "Le Meilleur de Kalishop */

.textimgSolo {
    position: absolute;
    top: 1px;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 1% 2% 1% 2%;
}

.textimgSolo2 {
    position: absolute;
    top: 1px;
    color: white;
    background-color: black;
    padding: 1% 2% 1% 2%;
    font-size: 0.8rem;
}

.relativposition {
    position: relative;
}

.newletter {
    background-color: #E7BB83;
    padding: 1%;
    margin-bottom: 5rem;
}

.divnews p {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    line-height: 90%;
}

.divnews a {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: black;
    border: double black 3px;
    padding: 3%;
}

.assidefinal {
    background-color: rgb(246, 246, 246);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 6%;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

@media screen and (max-width: 1200px) {
    .navbarperso {
        padding: 1% 0 2% 0;
    }
    .DivPrinc {
        flex-direction: column;
    }
    .imgSolo {
        max-width: 100%;
        margin: auto;
    }
    .meilleur_colone {
        flex-direction: row;
        margin: auto;
    }
    .meillSolo {
        margin: auto;
    }
    .imgMultiple {
        max-width: 27rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .navbarperso {
        flex-direction: column;
        padding: 0;
    }
}

.p1 {
    border-width: 5px;
    border-style: solid;
    border-color: #09C;
}

S label {
    position: relative;
    padding: 0 0 0 2rem;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

input[type=checkbox]+label::before,
input[type=checkbox]+label::after {
    content: '';
    position: absolute;
    display: inline-block;
}

input[type=checkbox]+label::before {
    left: 0.5rem;
    top: 0.15rem;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.05rem solid black;
    background: white;
}